@font-face {
  font-family: "Vend Sans";
  src: url("./fonts/Vend_Sans/static/VendSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root{

  /*FUENTES*/
  --title: "Vend Sans", sans-serif;
  --text: "Outfit", sans-serif;

  /*COLORES*/
  --dark: #212121;
  --white: #fafafa;
  --grey: #ddd9db;
  --bg: #fff9e5;
  --blue: #2C449C;
  --green: #277a4a;
  --sun: #D7FF7B;
  --orange: #ff6600;
  --red: #e62d2d;

  /*HOVER*/
  --green-hover: #219150;
  --red-hover: #e74c3c;
  --orange-hover:#ee8309;
  --blue-hover: #2b6aa8;
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  font-family: var(--text);
}

/*TABLERO LATERAL*/
.sidebar {
  width: 300px;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*LOGO*/
.logo-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 1.3rem 0;
}

.sidebar .logo{
  width: 180px;
  height: auto;
}

/*BOTONES PARA LAS SECCIONES*/
.sidebar button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background: none;
  border: none;
  color: var(--white);
  padding: 15px;
  text-align: left;
  font-size: clamp(1.1rem, 0.9333rem + 0.2222vw, 1.2rem);
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-icon{
  width: 28px;
  height: auto;
}

.sidebar button:hover, .sidebar button.active {
  background-color: var(--blue-hover);
  border-left: 5px solid var(--sun);
}

/*COLOR DEL FONDO GENERAL*/
.content {
  flex: 1;
  align-content: center;
  padding: 2rem;
  background-color: var(--bg);
  overflow-y: auto;
}

.tab-content {
  background: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/*LOADER*/
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1a1a2e;
  color: var(--sun);
}

.loader-container p {
  margin-top: 1rem;
  font-family: var(--text);
  letter-spacing: 1px;
}

/*SPINNER*/
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Eliminar flechas en Chrome, Safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder{
  font-family: var(--text);
  font-size: 1rem;
  font-weight: 500;
}

/*LOGIN*/
.login-overlay {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #1a1a2e;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
  width: 400px;
  height: 600px;
}

.login-card h2 { 
  font-family: var(--title);
  font-size: 1.8rem;
  color: #333;  
}

.login-card h4 { 
  font-family: var(--text);
  font-size: 1.2rem;
  color: #504f4f;
  font-weight: 500;
  margin-bottom: 1rem;
}

.password-container{
  height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.login-error{
  font-family: var(--text);
  color: var(--red);
  font-weight: 500;
  font-size: 1.2rem;
}

.login-card input {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  transition: border-color 0.3s;
}

.login-card input:focus {
  border-color: var(--green);
  outline: none;
}

.login-card input::placeholder{
  font-size: 1.2rem;
}

.login-btn {
  font-family: var(--title);
  letter-spacing: 1px;
  width: 100%;
  padding: 0.9rem;
  margin-top: 1rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

.login-btn:hover{
  background: var(--green-hover);
}

.login-error{
  color: var(--red);
  font-size: 1rem;
}

/*BOTON PARA SALIR DEL SISTEMA*/
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.logout-sidebar-btn {
  margin-top: auto;
  color: var(--white) !important;
}

.logout-sidebar-btn IMG{
  width: 28px;
  height: auto;
}

.logout-sidebar-btn:hover {
  background-color: var(--red-hover)!important;
}


/*RESPONSIVE*/
@media(max-width: 1440px){

  .content {
    padding: 1rem;
  }

  .sidebar {
    width: 230px;
    padding: 0.5rem;
  }

  .sidebar .logo{
    width: 150px;
    height: auto;
  }

  .sidebar button {
    gap: 0.5rem;
  }

  .btn-icon{
    width: 25px;
    height: auto;
  }
}